<html>
  <head>
    <link rel="stylesheet" href="/categoryProducts.css" />
  </head>
  <body>
    <div>
      <% if (products.length === 0) { %>
      <div class="noProds">
        <h1>No products yet</h1>
        <a class="link" href="/products/newProduct"><p>add a product</p></a>
      </div>
      <% } else { %>
      <div class="inventoryParentGrid">
        <div class="search-add">
          <div>search</div>
          <div>add a product</div>
        </div>
        <% products.forEach(product => { %>
        <div class="productGrid">
          <div class="name"><%= product.name %></div>
          <div class="brand"><%= product.brand %></div>
          <div class="category"><%= product.category %></div>
          <div class="price"><%= product.price %></div>
          <a class="edit">edit</a>
          <form
            class="form"
            action="/products/<%=product.id%>/delete"
            method="POST"
          >
            <button class="dlt" type="submit">delete</button>
          </form>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>
  </body>
</html>
